body {
  text-align: center;
  background-color: #011F3F;
}

p {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  color: lavenderblush;
  margin: 5%;
}

#how-to-play-title {
  color: #FEF2BF;
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 5%;
  margin-left: 5%;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 5%;
  margin-left: 5%;
  color: #FEF2BF;
}

.how-to-page {
  border: solid green 1rem;
  padding-bottom: 1rem;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

/* Buttons */

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.playBtn {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  padding: 1rem;
  margin: 10px;
  height: auto;
  width: 15rem;
  border: 10px solid black;
  background-color: lightgray;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media (max-width: 1120px) {
  #level-title {
    font-size: 2.5rem;
  }
  .btn {
    margin: 20px;
    display: inline-block;
    height: 150px;
    width: 150px;
    border: 7px solid black;
    border-radius: 20%;
  }
}

@media (max-width: 850px) {
  #level-title {
    font-size: 2rem;
  }
  .btn {
    margin: 1rem;
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 5px solid black;
    border-radius: 20%;
  }
  .container {
    width: 100%;
  }
}